<div class='etching col-md-3' style="background-image: url('<%= @etching.thumbnail_url %>')">
  <h2><%= @etching.title %></h2>
  <p><%= @etching.description %></p>
  <p><%= @etching.thumbnail_url %></p>
</div>
