<section class="half">
  <div class='col-md-1 col-md-offset-1'>
    <div id="navigation" class="spine">
      <a class="back arrow" href="/"></a>
    </div>
  </div>
  <div class="col-md-8">

    <h1>About</h1>

    <p>
      Bill Good was born in Brixton, London in 1938. He did his first etchings while attending Sidcup Art College, including <a data-target="sacks" href="/55">Sacks</a> and <a data-target="coal" href="/50">Coal Sheds</a>. He had a career in advertising before taking early retirement to "do art".
    </p>

    <p>
      He lives in Primrose Hill and enjoys swimming.
    </p>

  </div>
</section>

<section class="half portrait">
  <div class="fader fast" data-target-id="sacks" style="background-image:url(<%= asset_path "large/sacks.jpg" %>)" />
  <div class="fader fast" data-target-id="coal" style="background-image:url(<%= asset_path "large/coal_sheds.jpg" %>)" />
</section>

<div id="preloader">
  <img src="<%= asset_path "large/sacks.jpg" %>" />
  <img src="<%= asset_path "large/coal_sheds.jpg" %>" />
</div>
