@import 'colours';

@mixin left-triangle($colour:black, $size:25, $borderSide:right, $hoverColour: $paper) {
  position: relative;
  transition: 0.25s;
  width: 0; height: 0;
  border-style: solid;
  border-color: transparent;
  border-#{$borderSide}-color: $colour;
  border-width: #{$size}px;

  @if $borderSide == right {
    border-left-width: 0;
    right: #{$size}px; 
  }
  @else { border-right-width: 0; }

  &:hover {
    border-#{$borderSide}-width: #{$size*1.8}px;
    @if $borderSide == right { #{$borderSide}: #{$size*1.8}px; }

    &::before {
      @if $borderSide == right { right: -#{$size*1.8}px; }
      @else { right: 20px; }

      border-#{$borderSide}-width: #{$size}px;
      border-#{$borderSide}-color: $hoverColour;
    }
  }
}

@mixin before-triangle($colour:black, $size:25, $borderSide:right) {
  @include left-triangle($colour, $size);
  $long: $size * 1.8;
  
  border-width: #{$size}px;
  border-#{$borderSide}-width: #{$long}px;
  border-#{$borderSide}-color: $colour;
  content: "";
  position: absolute;
  top: -#{$size}px;

  @if $borderSide == right { 
    border-left-width: 0;
    right: -#{$size}px;
  }
  @else { 
    border-right-width: 0;
    right: #{$size - ($size *1.8)}px;
  }
}

.spine { 
  width: 0;
  position: relative;
  left: 50%;
}

.back.arrow {
  @include left-triangle(rgba($paperShadow, 0.4), 45);

  &::before { 
    @include before-triangle(rgba($paperShadow, 0.25), 45);
  }
}

.prev { 
  @include left-triangle(rgba($warmGrey, 0.3)); 
  &::before { @include before-triangle(rgba($warmGrey, 0.25)); }
}

.next {
  @include left-triangle(rgba($mutedBrick, 0.4), 25, left);

  &::before { 
    @include before-triangle(rgba($mutedBrick, 0.5), 25, left);
  }
}

.arrow {
  display: block;
  font-size: 24px;
  text-align: right;
}
