@import 'variables';
@import 'colours';

.big-image {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  cursor: pointer;

  .big-name-container {
    display: none;
    position: absolute;
    height: 50%;
    width: 100%;
    padding: 20px;
    background-color: $darkSilver;
    cursor: default;
  }

  &.show {
    .big-name-container { display: block; }
  }

}
