.big-image {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.big-name-container {
  bottom: 0;
  position: absolute;
  width: 100%;
  // height: 300px;
  padding: 35px;
  background-color: rgba(255,255,255,0.9);
  cursor: default;
}
