@import 'variables';
@import 'colours';

$captionGutter: 5px;

#header-region { margin: 0; }

.etching {
  text-transform: capitalize;
  p { word-break: break-word; }
}

.spacer {
  margin-top: 100%;
}

.etching-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-position: center;
}

#show {

  .description {
    p { margin-top: 25px; }
  }

  img.medium {
    max-width: 100%;
    max-height: 90vh;
  }

  #preview {
    margin-top: 4vh;
    min-height: 100vh;

    .preview {
      .image-container {
        transition-property: width;
        transition-duration: 1s;
      }

      .dots.loading {
        position: absolute;
        top: 30%;
        left: 50%;
        margin-top: -50px;
        margin-left: -50px;
        transition-property: opacity;
        transition-duration: 1s;
      }

      img {
        transition-property: opacity;
        transition-duration: 1s;
        opacity: 0;
      }

      &.loaded {
        .image-container {
          height: auto;
          width: auto;
        }
        .loading { opacity: 0; }
        img      { opacity: 1; }
      }
    }
  }

  .thumbnails { margin-top: 15px; }

  .landscape {
    .caption { float: left; }
    .thumbnails {
      max-width: 100%;
      overflow-y: hidden;
      overflow-x: auto;
      white-space: nowrap;
    }
  }

  .portrait {
    .thumbnails, .thumbnail-link:first-child { margin-top: 0; }
    .thumbnail-link { margin-top: 15px; }
  }

  .thumbnail-link {
    position: relative;
    z-index: 1;
    img {
      max-height: 150px;
      max-width: 150px;
      margin-left: 15px;
      cursor: pointer;
    }
  }
  .landscape .thumbnail-link:first-child img { margin-left: 0; }

  .portrait {
    .image-container { 
      float: left;
      position: relative;
      max-width: 460px;

      @media(min-width: $screen-lg) { max-width: 560px; }
    }
    .thumbnail-link { display: block; }
  }
}

ul {
  list-style: none;
  padding-left: 0;
  color: $silver;
}

.mobile-info {
  display: none;
}

// TABLET AND BELOW
@media (max-width: 991px) {

  #show {
    p { font-size: 26px; }

    .landscape, .portrait {
      text-align: center;

       .image-container {
        float: none;
        text-align: center;
        display: block;
        margin: auto;
      }

      .description { 
        clear: both;
      }

      img.medium { max-height: none; }
      .thumbnails { margin-top: 15px; }
      .thumbnail-link { display: inline; }
    }
  }

  .desktop-info { display: none; }
  .mobile-info { 
    display: block;
    text-align: center;
    ul { font-size: 18px; }
  }
  
  li.buy a { margin: auto; }

  #main-region #preview {
    margin-top: 4vh;
    min-height: 0;
  }

}
