// Place all the styles related to the Etchings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.etching {
  height: 500px; 
  background-size: cover;
  background-position: center;

  h2 {
    text-transform: capitalize;
  }
  p {
    word-break: break-word;
  }
}