@import url("http://fonts.googleapis.com/css?family=Oswald:400,300");
@import 'variables';
@import 'colours';

$captionGutter: 5px;

#header-region { margin: 0; }

.etching {
  text-transform: capitalize;
  p { word-break: break-word; }
}

.spacer {
  margin-top: 100%;
}

.etching-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-position: center;
}

#show {
  color: $silver;
  h2 {
    font-size: 42px;
    margin-bottom: 0;
    margin-top: 4vh;
  }

  p {
    font-size: 20px;
    font-weight: 100;
  }

  .description {
    p { margin-top: 25px; }
  }

  img.medium {
    max-width: 100%;
    max-height: 90vh;
  }

  li.buy {
    margin-top: 15px;
    a {
      display: block;
      height: 50px;
      width: 50px;
      line-height: 50px;
      text-align: center;
      border-radius: 25px;
      background-color: $silver;
      color: white !important;
      transition: 1s;

      &:hover {
        background-color: $gold;
        text-decoration: none;
      }
    }
  }

  .preview-container { margin-top: 4vh; }

  .thumbnails { margin-top: 15px; }

  .landscape {
    .caption { float: left; }
    .thumbnails {
      max-width: 100%;
      overflow-y: hidden;
      overflow-x: auto;
      white-space: nowrap;
    }
  }

  .portrait {
    .thumbnails, .thumbnail-link:first-child { margin-top: 0; }
    .thumbnail-link { margin-top: 15px; }
  }

  .thumbnail-link {
    img {
      max-height: 150px;
      max-width: 150px;
      margin-left: 15px;
      cursor: pointer;
    }
  }
  .landscape .thumbnail-link:first-child img { margin-left: 0; }

  .portrait {
    .image-container { 
      float: left;
      position: relative;
      max-width: 460px;

      @media(min-width: $screen-lg) { max-width: 560px; }
    }
    .thumbnail-link { display: block; }
  }
}

ul {
  list-style: none;
  padding-left: 0;
  color: $silver;
}


// strong { color: $orange;
//   li:nth-child(2) & { color: $pink; }
//   li:nth-child(3) & { color: $blue; }
//   li:nth-child(4) & { color: $green;  }
//   li:nth-child(5) & { color: $turquoise1; }
// }

#exhibit {
  .etching {
    padding-top: 20%;
    height: auto;
  }
}

.mobile-info {
  display: none;
}

// TABLET AND BELOW
@media (max-width: 991px) {

  #show {
    p { font-size: 26px; }

    .landscape, .portrait {
      text-align: center;

       .image-container {
        float: none;
        text-align: center;
        display: block;
        margin: auto;
      }

      .description { 
        clear: both;
      }

      img.medium { max-height: none; }
      .thumbnails { margin-top: 15px; }
      .thumbnail-link { display: inline; }
    }
  }

  .desktop-info { display: none; }
  .mobile-info { 
    display: block;
    text-align: center;
    ul { font-size: 18px; }
  }
  
  li.buy a { margin: auto; }

}
