@import 'colours';
@import 'variables';

header {
  margin-top: 10px;
  margin-bottom: 40px;

  .big-image {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    cursor: pointer;

    .big-name-container {
      transform: rotate(45deg);
      transition: 0.5s cubic-bezier(0.320, 0.005, 0.000, 1.300);
      position: absolute;
      background-color: $darkSilver;
      cursor: default;

      width: 100vh;
      height: 100vh;
      left: -200vh;

      &::after {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        background-color: $darkSilver;
        height: 200vh;
        width: 60vh;
        transform: rotate(-45deg);
        left: 0;
        top: 0;
      }

      .big-name { 
        display: inline-block;
        position: relative;

        ul {
          position: absolute;
          left: 100%;
          top: 0;
          white-space: nowrap;
          text-align: left;
          top: 50%;
          transform: translateY(-50%);
          cursor: pointer;
        }
      }
    }

    &.in {
      .big-name-container {
        left: -30vh;

      }
    }
  }

  #header-video {
    width: 100%;
  }

  h1 { 
    font-size: 48px; 
    color: $silver;
    display: inline-block;
    margin: 0;
    cursor: default;
  }

  &.blue {

  }

  &.pink {

  }

  &.neon {

  }

  @media(max-width: $screen-sm) {
    .big-name ul {
      margin-top: 15px;
      position: static;
      text-align: center;
    }
    h1 { font-size: 20vw; }
  }
}

