@import 'colours';
@import 'variables';

header {
  margin-top: 10px;
  margin-bottom: 40px;

  .big-name { 
    display: inline-block;
    position: relative;

    ul {
      position: absolute;
      left: 100%;
      top: 0;
      white-space: nowrap;
      text-align: left;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }

  #header-video {
    width: 100%;
  }

  h1 { 
    font-size: 48px; 
    // line-height: 190px;
    color: $silver;
    display: inline-block;
    margin: 0;
    cursor: default;
  }

  &.blue {

  }

  &.pink {

  }

  &.neon {

  }

  @media(max-width: $screen-sm) {
    .big-name ul {
      margin-top: 15px;
      position: static;
      text-align: center;
    }
    h1 { font-size: 20vw; }
  }
}

