@import "variables";
@import "colours";

#index {

  .etching {
    height: 80vh;

    &:hover .info { 
      opacity: 1;
      padding-left: 10px;
    }

    .info {
      transition: 0.5s;
      position: absolute;
      background-color: $darkSilver;
      color: white;
      width: 100%;
      height: 70px;
      bottom: 0;
      left: 0;
      font-weight: 100;
      font-size: 50px;
      opacity: 0;
      padding-top: 10px;
      text-transform: none;
      li { color: white; }

      .title {
        font-family: Dosis, arial, sans-serif;
        font-weight: 400;
      }

      &.gold  { background-color: rgba($gold, 0.8);   }
      &.red   { background-color: rgba($tomato, 0.8); }
      &.green { background-color: rgba($green, 0.8);  }
      &.neon, &.yellow {
        background-color: rgba($neonYellow, 0.8);
        li { color: darken($green, 20%); }
      }
      &.blue  { background-color: rgba($aquamarine, 0.8); }
      &.turquoise { background-color: rgba($turquoise1, 0.8); }
    }
  }

  @media(min-width: $screen-sm) {
    .etching .info {
      font-size: 30px;
      line-height: 30px;
    }
  }

  @media(min-width: $screen-lg) {
    .etching .info { 
      font-size: 40px;
      line-height: 40px;
    }
  }

}
