@import "variables";
@import "colours";

#e20 { background-position-x: 0px;    } // reclining squares ii
#e25 { background-position-y: 0px;   } // mirror, mirror
#e27 { background-position-x: -275px; } // reclining nude ii
#e29 { background-position-y: -391px; } // tiger in a bunker

#index {

  .etching {
    &:hover .info { 
      opacity: 1;
      padding-left: 10px;
    }

    .info {
      transition: 0.5s;
      position: absolute;
      background-color: rgba(black, 0.7);
      color: white;
      width: 100%;
      height: 50%;
      bottom: 0;
      left: 0;
      font-weight: 100;
      font-size: 50px;
      opacity: 0;
      padding-top: 10px;
      text-transform: none;
      li { color: white; }

      .title {
        font-family: Oswald;
        font-weight: 400;
      }

      &.gold  { background-color: rgba($gold, 0.8);   }
      &.red   { background-color: rgba($tomato, 0.8); }
      // &.black { color:   }
      &.green { background-color: rgba($green, 0.8);  }
      &.neon, &.yellow {
        background-color: rgba($neonYellow, 0.8);
        li { color: darken($green, 20%); }
      }
      &.blue  { background-color: rgba($aquamarine, 0.8); }
      &.turquoise { background-color: rgba($turquoise1, 0.8); }
    }
  }

  @media(min-width: $screen-sm) {
    .etching .info {
      // background-color: red;
      font-size: 30px;
      line-height: 30px;
    }
  }

  // @media(min-width: $screen-md) {
  //   .info {
  //     background-color: blue;
  //     font-size: 30px;
  //     line-height: 30px;
  //     }
  // }

  @media(min-width: $screen-lg) {
    .etching .info { 
      // background-color: green;
      font-size: 40px;
      line-height: 40px;
    }
  }

}
