#e20 { background-position-x: 0px;    } // reclining squares ii
#e25 { background-position-y: 10px;   } // mirror, mirror
#e27 { background-position-x: -275px; } // reclining nude ii
#e29 { background-position-y: -391px; } // tiger in a bunker
